@model IEnumerable<PersonalWebPage.Models.SketchModel>
<script src="~/Scripts/sketchBoard.js"></script>

@{
    ViewBag.Title = "Sketch Board";
}


<div id="main-container" class="container">
    <br />
    <div class="col-xs-12">
        @Html.ActionLink("New Sketch", "New", null, new { @class = "btn btn-info" })
    </div>
    <br />
    <br />

    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="well">
                <a href="/Sketch/View/@item.Id">
                    <div>
                    <canvas width="1000" height="618" style="background-color:#FFFFCC;" class="sketchCanvas fix-aspect-ratio" aspect-ratio="0.618" draw-data="@item.Data"></canvas>
                </div>
                </a>
                   <button class="deleteButton btn btn-default" data-toggle="modal"
                        data-target="#deleteConfirmModal" hasPassword="@item.HasPassword" target-id="@item.Id">
                    Delete
                </button>
            </div>
        </div>
    }
    <br />
</div>


<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Delete", "Sketch", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">Confrim</div>
                <div class=" modal-body">
                    <div class="text-warning">Are you sure to delete?</div>
                    <div id="passwordSection">
                        <input type="password" name="password" placeholder="Please input password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>


<!-- Show Error Message-->
@{
    if (ViewBag.Message != null)
    {
        <script>
            $(function () {
                alert('@ViewBag.Message');
            }
            )
        </script>
    }
}

<!-- Script for delete Modal -->
<script>
    $(document).on("click", ".deleteButton", function () {
        var id = $(this).attr('target-id');
        targetId = id;
        var hasPassword = $(this).attr('hasPassword');

        if (!hasPassword) {
            $('#passwordSection').css("visibility", "hidden");
        }
        if (hasPassword) {
            $('#passwordSection').css("visibility", "visible");
        }
        $("input[name$='password']").val('');
        $("input[name$='id']").val(id);
    });
</script>

<script>
    $(redrawCanvas($('.sketchCanvas')));
</script>