@model PersonalWebPage.Models.SketchModel

@{
    ViewBag.Title = "New";
}

<script src="~/Scripts/sketchNew.js"></script>
<script src="~/Scripts/sketchBoard.js"></script>

<h2>New Sketch</h2>

@using (Html.BeginForm("New", "Sketch", FormMethod.Post, new { ng_app = "myApp" }))
{
    @Html.AntiForgeryToken()

    <div class="container" ng-controller="myController">
        <div class="col-sm-8">
            <canvas id="main" width="1000" height="618" style="background-color:#FFFFCC;"  class="sketchCanvas fix-aspect-ratio" aspect-ratio="0.618" draw-data="@Model.Id"></canvas>
        </div>

        <div class="col-xs-4">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PasswordHash)
            @Html.HiddenFor(m => m.Salt)
            <input type="hidden" name="data" placeholder="Data" ng-model="data" />
            <div id="colorPicker"  class="container-fluid "></div>
            <br/>
            <label>Password</label><br />
            <input type="password" name="password" placeholder="Password" ng-model="password" />
            <br />
            <label>Repeat Password</label><br />
            <input type="password" name="repeatPassword" placeholder="Repeat Password" ng-model="repeatPassword" />
            <span class="text-danger" ng-hide="isPasswordRepeat">Please repeat password</span>
            <span class="text-success" ng-show="isPasswordRepeat">OK</span>
            <br />
            <br/>
            <input type="submit" id="createButton" value="Save" class="btn btn-default" ng-disabled="! isPasswordRepeat" />
            <input type="button"  class="btn btn-default" value="Cancel" onclick="location.href=''" />

            <hr />
            <br />
        </div>
    </div>
}


<script>
    $(createColorPicker('colorPicker'));
  //  maintainAspectRatio($('.sketchCanvas'), 618 / 1000);
</script>

